.form-control {
    border:0;
    padding: 7px;
    border-bottom: solid 1px #ccc;
}
.form-select{
  width: 100% !important;
  border-bottom: solid 1px #b0b2ba !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
